
body {
    background: var(--clr-primary-9);
}

.model-container {
    display: grid; 
    width: 98%;
    margin: 0 auto;
    margin-top: 70px;
    max-width: var(--max-width);
    overflow-x: hidden;

}

.model-content{
    display: grid;
    height: 100%;
    width: 100%;  
    row-gap: 10px;
    grid-template-areas: "estimator_info"
                         "load_dataset"
                         "preprocessing"
                         "pipeline";
    
}

.model-content-item {
    display: flex;
    width: 100%;
    background: var(--clr-black);
    /* min-height: 100px; */
    flex-direction: column;
}

.model-content-header {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background: var(--clr-grey-5);
    text-transform: capitalize;
    font-weight: bold;
}


/* media queries */

@media screen and (min-width: 800px) {

    .model-content{  
        grid-template-areas:  "estimator_info estimator_info estimator_info"
                              "load_dataset preprocessing pipeline"
                              "output_datatable output_datatable other_preprocessing";
        grid-template-columns: 2fr 2fr 4fr;
        column-gap: 10px;
    }

    .model-content-item {
        display: flex;
        box-shadow: 3px 3px black;
        /* overflow-x: hidden; */
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    

}



